# Gemini / Google AI Studio
GEMINI_API_KEY=your_key_here

# .SCRAPING_ANT_KEY es la clave de API para Scraping Ant, un servicio de scraping web. Es necesario para que el script pueda obtener el HTML de las páginas web de Reuters.
SCRAPING_ANT_KEY=

# Opcional para futura automatización
SSH_HOST=
SSH_USER=
SSH_PORT=22
SSH_KEY_PATH=
